<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../global.css" />
    <title>Blog</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4 mb-4">Blog Articles</h1>
      <a href="/articles/new" class="btn bg-success text-white">New Article</a>

      <% articles.forEach((article,index)=>{%> <% const {title,
      createdAt,description} = article; %>
      <div class="card mt-4 shadow-lg">
        <div class="card-body">
          <h2><%= title %></h2>
          <p><%= createdAt %></p>
          <p><%= description %></p>
          <div>
            <button class="btn btn-success">Read more</button>
            <button class="btn btn-outline-secondary">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <% })%>
    </div>
  </body>
</html>
