<header class="mt-4 text-center">
  <div>
    <h3 class="text-primary">JWT<span class="text-info">Auth</span></h3>
    <a href="/" class="btn btn-info">Home</a>
    <a href="/details" class="btn btn-dark">Details</a>
    <a class="btn btn-primary" href="/login">Login</a>
    <a class="btn btn-primary" href="/logout">Logout</a>
    <a class="btn btn-secondary" href="/signup">Sign-up</a>
  </div>
</header>
