<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <%- include('helper/_header') %>
    <div class="container main">
      <h1>This must be protected route</h1>
      <p>Details page</p>
      <a class="btn btn-outline-info" href="/">Home</a>
    </div>
    <%- include('helper/_footer') %>
  </body>
</html>
